{% extends 'base.html' %}

{% block header %}
<div class="container-fluid">

    <!-- Code for the top header and carousel -->

    <!-- Background image over the gradient-->
    <div style="background:transparent url('https://cdn.discordapp.com/attachments/399944598924951553/753209632549240872/background-stock-image-1.png') no-repeat center center /cover">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %} <!-- check if there are any messages -->
        <div class="container-fluid">
            <div class="row mt-3 mb-3">
                <div class="col-md-12">
                {% for category, message in messages %} <!--loop through the messages-->
                    <div class="alert alert-{{category}}">{{ message }}</div> <!--display as alert-->
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <br><div class="row">
             <!--Search Jumbotron-->
            <div class="col-xl-2 col-md-1"></div>
            <div class="col-xl-8 col-md-10">
                <!-- shadow py-4 mb-5  -->
                <div class="jumbotron grow">
                    <h1 class="text-center">Find our best items</h1>
                    <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.search')}}" >
                        <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="inlineFormCustomSelectPref" placeholder="Search...">
                        <button type="submit" class="btn my-2 my-sm-0 searchButton">Search</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-2 col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8"><br>
                <h1><b>THIS WEEK'S TOP 5 HOTTEST ITEMS</b></h1>
            </div>
            <div class="col-xl-2"></div>
        </div>
        <div class="row">
            <div class="col-xl-2"></div>
            
            <!-- Automatic carousel for items that have the top 5 number of bids -->
            <div class="col-xl-8">
                <div id="carouselExampleIndicators" class="carousel slide carouselgrow" class="carousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="items/show.html"><img src="../static/image/Nvidia-2080-ti.jpg" class="carouselImg d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="items/show.html"><img src="../static/image/corsair-vengeance-rgb-pro.jpg" class="carouselImg d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="items/show.html"><img src="../static/image/amd-3900x.jpg" class="carouselImg d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="items/show.html"><img src="../static/image/be-quiet!-cooling-fan.jpg" class="carouselImg d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="items/show.html"><img src="../static/image/radeon-gpu.jpg" class="carouselImg d-block w-100" alt="..."></a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
<main>
    <br><br>
    <div class="row justify-content-center">
        {% for item in search_items %}
            <div class="card mb-5 mr-5 px-0 col-md-3">
              <img class="card-img-top" height="200rem" src="{{item.image}}" alt="{{item.name}}">
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text"></p>
                <a href="{{url_for('item.show', id=item.id)}}" class="btn btn-danger">View Details</a>
                <p class="card-text"><small class="text-muted">{{item.comments|length}} comment(s)</small></p>
              </div>
            </div>

            {% endfor %}
          </div>
    
    
    <div class="row">
        <div class="col-12">
            <h2>Recently Viewed Items:</h2>
        </div>
    </div>

    <!-- Cards that display the recent items the user has viewed -->
    <div class="row">
        {% for item in featured_items %}
        <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <img src="{{item.image}}" alt="{{item.name}}" class="cardImg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5><br>
                    <p>{{item.currency}} {{item.currentPrice}}</p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div>
        {% else %}
        <h1>No recently viewed items</h1>
        {% endfor %}
    </div><br><br><br>
        <!-- <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <a href="items/show.html"><img src="../static/image/noctua-heatsync.jpg" alt="..." class="cardImg"></a>
                </div>
                <div class="card-body">
                    <a href="items/show.html"><h5 class="card-title">Noctua NH-D15 Chromax CPU Cooler Black</h5></a><br>
                    <p>AU $200</p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div> -->
                    <!-- <a href="#"><h5 class="card-title">Add to Wishlist</h5></a><br> -->

    <!-- List of some items in the CPU category -->

    <div class="row">
        <div class="col-12">
            <h2>CPUs:</h2>
        </div>
    </div>
    {% if CPUCategory %}
    <div class="row">
        {% for item in CPUCategory %}
        <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <img src="{{item.image}}" alt="{{item.name}}" class="cardImg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5><br>
                    <p>{{item.currency}} {{item.currentPrice}}</p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div>
        {% endfor %}
        <!-- Button that links to a page displaying more items -->
        <button type="button" class="btn btn-link"><a href="#"><p>See More -></p></p></a></button></span>
    </div><br>
    {% endif %}

    

    <!-- List of some items in the GPU category -->
    <div class="row">
        <div class="col-12">
            <h2>GPUs:</h2>
        </div>
    </div>
    {% if GPUCategory %}
    <div class="row">
        {% for item in GPUCategory %}
        <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <img src="{{item.image}}" alt="{{item.name}}" class="cardImg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5><br>
                    <p>{{item.currency}} {{item.currentPrice}}</p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div>
        {% endfor %}
        <!-- Button that links to a page displaying more items -->
        <button type="button" class="btn btn-link"><a href="#"><p>See More -></p></p></a></button></span>
    </div><br>
    {% endif %}

    <!-- Note: images for the following categories are just reused from CPU/GPU. In the final version, these will be updated (along with the prices/names) but are just placeholders for the time being -->

    <!-- List of some items in the Motherboard category -->

    <div class="row">
        <div class="col-12">
            <h2>Motherboards:</h2>
        </div>
    </div>
    {% if MoboCategory %}
    <div class="row">
        {% for item in MoboCategory %}
        <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <img src="{{item.image}}" alt="{{item.name}}" class="cardImg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5><br>
                    <p>{{item.currency}} {{item.currentPrice}}</p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div>
        {% endfor %}
        <!-- Button that links to a page displaying more items -->
        <button type="button" class="btn btn-link"><a href="#"><p>See More -></p></p></a></button></span>
    </div><br>
    {% endif %}

    

    <!-- List of some items in the RAM category -->
    <div class="row">
        <div class="col-12">
            <h2>RAM:</h2>
        </div>
    </div>
    {% if RAMCategory %}
    <div class="row">
        {% for item in RAMCategory %}
        <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <img src="{{item.image}}" alt="{{item.name}}" class="cardImg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5><br>
                    <p>{{item.currency}} {{item.currentPrice}}</p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div>
        {% endfor %}
        <!-- Button that links to a page displaying more items -->
        <button type="button" class="btn btn-link"><a href="#"><p>See More -></p></p></a></button></span>
    </div><br>
    {% endif %}
    <!-- List of some items in the PSU category -->

    <div class="row">
        <div class="col-12">
            <h2>Power Supply Units:</h2>
        </div>
    </div>
    {% if PSUCategory %}
    <div class="row">
        {% for item in PSUCategory %}
        <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <img src="{{item.image}}" alt="{{item.name}}" class="cardImg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5><br>
                    <p>{{item.currency}} {{item.currentPrice}}</p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div>
        {% endfor %}
        <!-- Button that links to a page displaying more items -->
        <button type="button" class="btn btn-link"><a href="#"><p>See More -></p></p></a></button></span>
    </div><br>
    {% endif %}

    

    <!-- List of some items in the Cooling Fans category -->
    <div class="row">
        <div class="col-12">
            <h2>Cooling Fans:</h2>
        </div>
    </div>
    {% if FanCategory %}
    <div class="row">
        {% for item in FanCategory %}
        <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <img src="{{item.image}}" alt="{{item.name}}" class="cardImg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5><br>
                    <p>{{item.currency}} {{item.currentPrice}}</p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div>
        {% endfor %}
        <!-- Button that links to a page displaying more items -->
        <button type="button" class="btn btn-link"><a href="#"><p>See More -></p></p></a></button></span>
    </div><br>
    {% endif %}
</div>
</main>
{% endblock %}