{% extends 'base.html' %}

{% block header %}
<main>
    <!-- Container displaying every column -->
    <div class="container-fluid d-flex h-100 flex-column">
      <div class="row">
        <div class="col-12">
          <!-- The name will change based on the user -->
          <h1>Your Watchlist</h1>
        </div>          
      </div>

      <!-- Search box for the items in watchlist -->
      <div class="row">
        <div class="col-12 wrapper">
          <div class="input-group">
            <label for="watchlistInput" button-type="" class="control-label"><i id="filtersubmit" class="fa fa-search"></i></label>
            <input class="form-control" type="text" name="watchlistInput" id="watchlistInput" onkeyup="myFunction()" placeholder="Search..." />
          </div>
        </div>
      </div>

      <!-- Table containing items in watchlist -->
      <div class="row">
        <div class="col-12">
          <div class="table-responsive-sm">
            <table id="watchlistTable">
              <tr class="header">
                <th style="width:29%;">Item Name</th>
                <th style="width:28%;">Bidding Status</th>
                <th style="width:28%">Date Added</th>
                <th style="width:15%">Remove?</th>
              </tr>
              {% for watchlist_items, item_details in item_info  %}
              <tr>
                <td><a href="{{url_for('item.show', id=watchlist_items.itemId)}}">{{item_details.name}}</a></td>
                <td>{{item_details.status}} - ${{item_details.currentPrice}}</td>
                <td>{{watchlist_items.addedDate}}</td>
                <td><a href="{{url_for('watchlist.remove', id=watchlist_items.itemId)}}" class="btn btn-dark">Remove</a></td>
              </tr>
              {% endfor %}
            </table><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <a href="/">Click here to add more items to your Watchlist!</a>
        </div>
      </div>
    </div>

    <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("watchlistInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("watchlistTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
  </main>
  {% endblock %}