{% extends 'base.html' %}

{% block header %}
<main>

    <!-- Container displaying every column -->
      <div class="container-fluid d-flex h-100 flex-column">
        <div class="row">
          <div class="col-xl-5 col-xl">

          <!--Information about item listed -->

          {{item.image}}

          <!-- Name of item -->
          <div class="col-xl-7 col-lg-12">
            <h1>{{item.name}}</h1><br>
            <div class="row">

              <!-- Item condition -->
              <div class="col-sm-4 col-xs-12">
                <h2>{{item.condition}}</h2><br>
              </div>
              <div class="col-sm-3 col-xs-12"></div>

              <!-- Add to watchlist button -->
              <div class="col-sm-4 col-xs-12">
                <button class="btn btn-primary btn-dark" type="button" value="Input">Add to Watchlist</button>
              </div>
            </div><br>

            <div class="row">

              <!-- Item's current bidding price -->
              <div class="col-sm-4 col-xs-12">
                <h2>{{item.currentPrice}}</h2><br>
              </div>
              <div class="col-sm-3 col-xs-12"></div>

              <!-- Addition postal cost (added ontop of price user pays once auction closes) -->
              <div class="col-sm-4 col-xs-12">
                <h2>{{item.postagePrice}}</h2>
              </div>
            </div><br>

            <!-- Row where user clicks modal to place bid -->
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <h2>Place Bid:</h2>
              </div>
              <div class="col-sm-3 col-xs-12"></div>
              <div class="col-sm-4 col-xs-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                  Place Bid
                </button>

                <!-- Modal (to place bid) -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Place Bid</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Bidding Amount</label>
                            <input type="number" min="0" step="any" class="form-control" id="validationTooltip04" placeholder="0">
                            <small id="emailHelp" class="form-text text-muted">
                              Amount must be greater than 0 and the current bid.
                            </small>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                        <button type="button" class="btn btn-primary">Place Bid</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">

              <!-- Item's current bidding price -->
              <div class="col-sm-4 col-xs-12"><br>
                <h2>Bidding Ends:<br>{{item.finishDate}}</h2><br>
              </div>
              <div class="col-sm-3 col-xs-12"></div>

              <!-- Addition postal cost (added ontop of price user pays once auction closes) -->
              <div class="col-sm-4 col-xs-12"><br>
                <h2>Estimated Posting Date:<br>{{item.deliveryTime}}</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Row displaying additional information about product (user inputs this when listing item) -->
        <div class="row">
          <div class="col-12">
            <div class="card border-additionalInfo">
              <div class="card-header align-center">
                <h2 class="h2">Additional Information:</h2>
              </div>
              <blockquote class="blockquote mb-0 card-body">
                <p class="p1">{{item.moreInfo}}</p>
              </blockquote>
            </div>
          </div> 
        </div><br>

        <!-- Row displaying items similar to the currently displayed item -->
          <div class="row">
            {% for item in similar_items %}
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
              <div class="card-head">
                  <a href="{{url_for('item.show', id=item.id)}}"><img src="{{item.image}}" alt="{{item.name}}" class="cardImg"></a>
              </div>
              <div class="card-body">
                  <h5 class="card-title"><a href="{{url_for('item.show', id=item.id)}}">{{item.name}}</h5></a><br>
                  <p>{{item.currency}} {{item.currentPrice}}</p>
              </div>
              <div class="dimmer"></div>
          </div> 
            {% endfor %}
          </div>

        <!-- Cards containing images of items, name, price and the average customer review -->
        <div class="row">
          <div class="col-xl-2 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
              <div class="card-head">
                <a href="ItemDetails.html"><img src="img/amd-sapphire.jpg" alt="..."></a>
              </div>
              <div class="card-body">
                <a href="ItemDetails.html">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p>{{item.currency}} {{item.currentPrice}}</p><br>
                  <small class="text-muted">
                    Free Shipping<br><br>
                    Review: 3/5
                  </small>
                </a>
              </div>
              <div class="dimmer"></div>
            </div> 
          </div>   

          <div class="col-xl-2 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
              <div class="card-head">
                <a href="ItemDetails.html"><img src="img/msi-nvidia-980ti.png" alt="..."></a>
              </div>
              <div class="card-body">
                  <a href="ItemDetails.html">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p>{{item.currency}} {{item.currentPrice}}</p><br>
                    <small class="text-muted">
                      Free Shipping<br><br>
                      Review: 4/5
                    </small>
                  </a>
              </div>
              <div class="dimmer"></div>
            </div> 
          </div>

          <div class="col-xl-2 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
              <div class="card-head">
                <a href="ItemDetails.html"><img src="img/Nvidia-Geforce-1080.png" alt="..."></a>
              </div>
              <div class="card-body">
                <a href="ItemDetails.html">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p>{{item.currency}} {{item.currentPrice}}</p><br>
                  <small class="text-muted">
                    Free Shipping<br><br>
                    Review: 4.5/5
                  </small>
                </a>
              </div>
              <div class="dimmer"></div>
            </div> 
          </div>

          <div class="col-xl-2 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
              <div class="card-head">
                <a href="ItemDetails.html"><img src="img/nvidia-1070.jpg" alt="..."></a>
              </div>
              <div class="card-body">
                <a href="ItemDetails.html">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p>{{item.currency}} {{item.currentPrice}}</p><br>
                  <small class="text-muted">
                    Free Shipping<br><br>
                    Review: 3/5
                  </small>
                </a>
              </div>
              <div class="dimmer"></div>
            </div>
          </div>

          <div class="col-xl-2 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
              <div class="card-head">
                <a href="ItemDetails.html"><img src="img/nvidia-gtx-titan.jpg" alt="..."></a>
              </div>
              <div class="card-body">
                <a href="ItemDetails.html">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p>{{item.currency}} {{item.currentPrice}}</p><br>
                  <small class="text-muted">
                    Free Shipping<br><br>
                    Review: 3.5/5
                  </small>
                </a>
              </div>
              <div class="dimmer"></div>
            </div> 
          </div>

          <div class="col-xl-2 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
              <div class="card-head">
                <a href="ItemDetails.html"><img src="img/amd-7990.jpg" alt="..."></a>
              </div>
              <div class="card-body">
                <a href="ItemDetails.html">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p>{{item.currency}} {{item.currentPrice}}</p><br>
                  <small class="text-muted">
                    Free Shipping<br><br>
                    Review: 3/5
                  </small>
                </a>
              </div>
              <div class="dimmer"></div>
            </div>
          </div>
        </div><br><br>
      </div>
    </main>
    {% endblock %}