{% extends 'base.html' %}

{% block content %}
<main>

    <!-- Container displaying every column -->
      <div class="container-fluid d-flex flex-column">
        <div class="row">
          <div class="col-xl-5 col-xl">

          <!--Information about item listed -->

          <img src="{{item.image}}" alt="{{item.name}}" class="carouselImg d-block w-100">
          </div>

          <!-- Name of item -->
          <div class="col-xl-7 col-lg-12">
            <h1>{{item.name}}</h1><br>
            <div class="row">

              <!-- Item condition -->
              <div class="col-sm-4 col-xs-12">
                <h2>Condition: {{item.condition}}</h2><br>
              </div>
              <div class="col-sm-3 col-xs-12"></div>

              <!-- Add to watchlist button -->
              <div class="col-sm-4 col-xs-12">
                <a href="{{url_for('watchlist.add', id=item.id)}}" class="btn btn-dark">Add to watchlist</a>
              </div>
            </div><br>

            <div class="row">

              <!-- Item's current bidding price -->
              <div class="col-sm-4 col-xs-12">
                <h2>Bidding Price: ${{item.currentPrice}}</h2><br>
              </div>
              <div class="col-sm-3 col-xs-12"></div>

              <!-- Addition postal cost (added ontop of price user pays once auction closes) -->
              <div class="col-sm-4 col-xs-12">
                <h2>Postage Price: ${{item.postagePrice}}</h2>
              </div>
            </div><br>

            <!-- Row where user clicks modal to place bid -->
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <h2>Place Bid:</h2>
              </div>
              <div class="col-sm-3 col-xs-12"></div>
              <div class="col-sm-4 col-xs-12">
                <button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                  Place Bid
                </button>

                <!-- Modal (to place bid) -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Place Bid</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="{{url_for('item.bid', id=item.id)}}" method="post" enctype="multipart/form-data" class="form" role="form">
                      <div class="modal-body">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Bidding Amount</label>
                            <input type="number" min="{{item.currentPrice}}" step="any" class="form-control" id="validationTooltip04" placeholder="{{item.currentPrice}}" name="price">
                            <small id="emailHelp" class="form-text text-muted">
                              Amount must be greater than 0 and the current bid (${{item.currentPrice}}).
                            </small>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                        <button type="submit" class="btn btn-primary">Place Bid</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">

              <!-- Item's current bidding price -->
              <div class="col-sm-4 col-xs-12"><br>
                <h2>Bidding Ends:<br>{{item.finishDate}}</h2><br>
              </div>
              <div class="col-sm-3 col-xs-12"></div>

              <!-- Addition postal cost (added ontop of price user pays once auction closes) -->
              <div class="col-sm-4 col-xs-12"><br>
                <h2>Estimated Posting Date<br>{{item.deliveryTime}}</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Row displaying additional information about product (user inputs this when listing item) -->
        <div class="row">
          <div class="col-12">
            <div class="card border-additionalInfo">
              <div class="card-header align-center">
                <h2 class="h2">Additional Information:</h2>
              </div>
              <blockquote class="blockquote mb-0 card-body">
                <p class="p1">{{item.moreInfo}}</p>
              </blockquote>
            </div>
          </div> 
        </div><br>

        <!-- list of bids -->
        <div class="row">
          {% if bidList|length %}
          <div class="col-12">
            <p>
              <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                List of bids
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <table>
                  <tr>
                    <th>Username</th>
                    <th>Amount</th>
                    <th>Date</th>
                  </tr>
                  <tr>
                    <td>123</td>
                    <td>100</td>
                    <td>now</td>
                  </tr>
                  <tr>
                    <td>123</td>
                    <td>100</td>
                    <td>now</td>
                  </tr>
                </table>
              </div>
            </div><br>
            {% else %}
            u didnt upload this
          </div>
        {% endif %}
      </div>

        <!-- Row displaying items similar to the currently displayed item -->
        <div class="row">
          <div class="col-12">
            <h2>Similar Items:</h2>
          </div>
        </div>
        <!-- Row displaying items similar to the currently displayed item -->
        <div class="row justify-content-center">
          {% for item in similar_items %}
          <div class="col-xl-3 col-md-6">
            <div class="card cardDisplay p-3 mb-5 border-dark grow">
                <div class="card-head">
                    <a href="{{url_for('item.show', id=item.id)}}"><img src="{{item.image}}" alt="{{item.name}}" class="cardImg"></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{{url_for('item.show', id=item.id)}}">{{item.name}}</h5></a><br>
                    <p>{{item.status}} - {{item.currency}} {{item.currentPrice}}</p>
                    <a href="{{url_for('watchlist.add', id=item.id)}}" class="btn btn-dark">Add to watchlist</a><br>
                    <p class="card-text"><small class="text-muted">{{item.bid|length}} bid(s)</small></p>
                </div>
                <div class="dimmer"></div>
            </div> 
        </div>
            {% endfor %}
        </div>
        </div>
    </main>
    {% endblock %}